@import './variables';
@import './normalize';
@import './btn';

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  overflow-x: hidden;
}
.wrapper {
  overflow: hidden;
  position: relative;
}
.title {
  font-size: 4rem;
  display: inline-block;
  background: linear-gradient(-35deg, $tc 70%, $md 70%, $md 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 10;
}

.topline {
  transform: rotate(-5deg);
  width: 107%;
  height: 20%;
  position: absolute;
  left: -5%;
  bottom: 90%;
  background: #fff;
  z-index: 1;
}

.section {
  padding: 5rem 0 15rem;
  position: relative;
  z-index: 5;
}

.get_order {
  padding: 1rem 2rem;
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 50;
  transform: rotate(0deg) translateY(-50%);
  background-color: $md;
  writing-mode: tb-rl;

  a {
    padding: 1rem 0;
    text-decoration: none;
    display: block;
    color: $ct;
    font-size: 3rem;
    line-height: 0;
  }
}

@media (max-width: 1000px) {
  .section {
    padding: 5rem 0 15rem;
  }
}

// ================= Promo ================= //

.promo {
  max-height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #000;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(#fff, 0.2);
  }
}
.video {
  position: relative;
  z-index: 1;
  padding-bottom: 56.25%;

  &__media {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.promo__content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  &-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &-title {
    font-size: 5rem;
    color: $ct;
  }
  &-description {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__item {
      display: flex;
      color: $ct;

      span {
        padding-left: 0.5rem;
        display: inline-block;
        font-size: 1.5rem;
        text-shadow: 0px 0px 1px rgba(#000, 1);
        padding-bottom: 2rem;
      }
      i {
        color: $tc;
        font-size: 1.3rem;
      }
    }
  }

  &-img {
    margin-right: 10%;
    width: 20%;

    img {
      display: block;
      height: auto;
      width: 100%;
    }
  }
}
.promo__btn {
  margin-top: 3rem;
  align-self: start;
}

@media (max-width: 900px) {
  .promo__content {
    &-description__item {
      span {
        padding-bottom: 1rem;
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 640px) {
  .promo {
    overflow: auto;
    padding-bottom: 20rem;
  }
  .video {
    opacity: 0;
  }
  .promo__content-img {
    display: none;
  }
  .promo__content-description {
    width: 100%;

    &__item {
      span {
        font-size: 1rem;
      }
    }
  }
  .promo__btn {
    margin-top: 1.5rem;
    align-self: center;
  }
  .promo__content-title {
    font-size: 2.2rem;
  }
}

// ================= Composition ================= //

.composition__inner {
  display: flex;
  position: relative;
  z-index: 10;
}
.composition__col {
  position: relative;
  flex: 0 0 33.333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:first-child {
    align-items: flex-end;
  }
  &:last-child {
    align-items: flex-start;
  }
}

.composition__item {
  padding: 2em 3em;
  &-wrapper {
    border-radius: 50%;
    padding: 1.5rem 2rem;

    position: relative;
  }
  &-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;

    box-shadow: 0px 0px 3px 0 rgba($tc, 1);

    img {
      display: block;
      height: auto;
      width: 100%;
      border-radius: 50%;
      overflow: hiden;
    }
  }
  &-title {
    margin-top: 1rem;
    display: block;
    font-size: 3rem;
    color: $md;
    text-align: center;
  }
}
.composition__img {
  img {
    display: block;
    height: auto;
    width: 100%;
    padding: 0 10rem;
  }
}
.compostion__lines {
  span {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $ct;
    top: 50%;
    left: 0;
    z-index: -1;

    &:nth-child(1) {
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      transform: rotate(-45deg);
    }
    &:nth-child(3) {
      transform: rotate(0deg);
    }
  }
}

@media (max-width: 1000px) {
  .composition__img {
    img {
      padding: 0 5rem;
    }
  }
}
@media (max-width: 768px) {
  .composition__inner {
    flex-direction: column;
  }
  .composition__col {
    flex-direction: row;

    &:nth-child(2) {
      order: -1;
    }
  }
  .composition__item {
    padding: 1rem 2rem;
  }
  .composition__item-title {
    margin-top: 0.5rem;
    font-size: 2rem;
  }
  .compostion__lines {
    display: none;
  }
  .composition__img {
    img {
      padding: 0 40%;
    }
  }
}
@media (max-width: 640px) {
  .composition__item {
    padding: 0;
  }
  .composition__item-img {
    height: 70px;
    width: 70px;
  }
}

// ================= review ================= //
.review {
  background: #e0e0e0;

  .topline {
    background: #e0e0e0;
    height: 24%;
    left: -5%;
    bottom: 86%;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  padding: 0 10%;
  text-align: center;
  font-size: 18px;
  background: #e0e0e0;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: $tc;
}

.review__item {
  flex-direction: column;
  padding: 2rem 3rem;
  &-img {
    width: 15%;
    img {
      display: block;
      height: auto;
      width: 100%;
    }
  }

  &-text {
    font-size: 2rem;
    font-weight: normal;
  }
}

@media (max-width: 768px) {
  .review__item-text {
    font-size: 1.3rem;
  }
}
@media (max-width: 640px) {
  .review__item-text {
    font-size: 1.3rem;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none;
  }
  .review__item-img {
    width: 25%;
  }
}

// ================= product ================= //

.product__img {
  width: 50%;
  margin-top: -5rem;
  img {
    padding: 0 20%;
    display: block;
    height: auto;
    width: 100%;
  }
}
.product__content {
  margin-top: 5rem;
  color: $ct;
  display: flex;
  align-items: center;
  background: linear-gradient(-35deg, $tc 30%, $md 30%, $md 100%);

  &-wrapper {
    width: 50%;
  }
  &-text {
    padding: 1em;
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.product__description {
  margin-top: 15px;
  padding: 0.4rem 1rem;
  border: 2px solid $md;

  &-item {
    padding: 5px 0;
    span {
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 1024px) {
  .product__content-text {
    font-size: 1.2rem;
  }
  .product__description-item {
    span {
      font-size: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .product__content {
    flex-direction: column-reverse;
  }
  .product__content-wrapper {
    width: 100%;
  }
  .product__content-text {
    font-size: 1rem;
  }
  .product__description-item {
    span {
      font-size: 0.8rem;
    }
  }

  .product__img {
    img {
      padding: 0 15%;
    }
  }
}
@media (max-width: 640px) {
  .product {
    padding: 5rem 0;
  }
}

// ================= Order ================= //
.order__inner {
  display: flex;
  flex-direction: column;
}
.order__suptitle {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  color: $md;
}
.order__timer {
  margin: 3rem 0 2rem;
  padding: 3rem 5rem;
  display: flex;
  text-align: center;
  align-self: center;
  background-color: $tc;
  border: 1px solid $md;

  &-number {
    padding: 0.5rem;
    margin: 0 2rem;
    font-size: 3.5rem;

    span {
      display: block;
      background-color: #fff;
      border-radius: 0.2rem;
    }
  }
}

.order__form-wrapper {
  display: flex;
  margin-top: 3rem;
}

.form {
  padding: 4rem 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    span {
      font-size: 1.3rem;
      padding-bottom: 5px;
    }

    input {
      border-radius: 0.3rem;
      padding: 0.3em 1em;
      font-size: 2rem;
      border-color: transparent;
      outline: 0;
      &:focus {
        border-color: $md;
      }
    }
  }
  &__btn {
    font-size: 1.5rem;
    padding: 0.5em 1.2em;
    background-color: #fff;
    border: 0;
    outline: 0;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;

    &:hover {
      background-color: $md;
      color: $ct;
    }
  }
}
.order__form-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order__form {
  &-img {
    img {
      padding: 0 35%;
      display: block;
      height: auto;
      width: 100%;
    }
  }
  &-content__price {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    .new__price {
      font-size: 2.2rem;
      font-weight: 700;
      background: linear-gradient(
        -35deg,
        #c5a412 0%,
        #6b1d66 50%,
        #6b1d66 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 5.3s linear;
      animation: gradient 4s infinite linear;
    }
    .old__price {
      font-size: 1.6rem;
      text-decoration: line-through;
    }
  }
}
@keyframes gradient {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 200px 0;
  }
}

@media (max-width: 768px) {
  .order__timer-number {
    font-size: 1.7rem;
    margin: 0 1rem;
  }
  .order__form-wrapper {
    flex-direction: column;
  }
  .form,
  .order__form-content {
    width: 100%;
  }
  .form {
    margin-bottom: 2rem;
  }
}

@media (max-width: 640px) {
  .order__timer {
    margin: 1rem;
    padding: 1rem;
  }
  .order__timer-number {
    margin: 0 0.3rem;
  }
  .form__item {
    input {
      font-size: 1.1rem;
    }
  }
  .form__btn {
    font-size: 1rem;
  }
  .order__form-img img {
    padding: 0 40%;
  }
}
